biopython>=1.78
bitarray~=2.0.1
bokeh~=2.4.2
dna_features_viewer~=3.1.0
kaleido~=0.2.1
matplotlib~=3.4.1
numpy~=1.22.3
pandas~=1.4.2
phamclust~=0.1.3
plotly~=5.1.0
pretty_html_table~=0.9.10
requests>=2.26.0
