{% extends 'program.html' %}

{% block stylelink %}"{{ url_for('static', filename='css/depht_train_style.css') }}"{% endblock %}
{% block script %}"{{url_for('static', filename='js/arguments.js')}}"{% endblock %}

{% block heading %}
  <h2 class="page_heading">Train a model using DEPhT</h2>
{% endblock %}

{% block form_content %}
  <script type="text/javascript">
    window.onload = function() {
      get_core_list("{{cpu_cores}}");
    };
  </script>

  <label for="name">Model name</label>
  <input type="text" name="name" required>
  <div class="help"><img src="{{url_for('static', filename='images/help_icon.png')}}"
    alt="help" class="help_icon">
    <span class="help_text">Nmae the new model being created</span>
  </div>
  <br>
  <br>
  <label for="phage">Phage FASTA directory</label>
  <div class="help"><img src="{{url_for('static', filename='images/help_icon.png')}}"
    alt="help" class="help_icon">
    <span class="help_text">Directory containing phage FASTA files</span>
  </div>
  <input type="file" class="dir_select" name="phage" required webkitdirectory multiple>
  <br>
  <br>
  <label for="bact">Bacterial FASTA directory</label>
  <div class="help"><img src="{{url_for('static', filename='images/help_icon.png')}}"
    alt="help" class="help_icon">
    <span class="help_text">Directory containing bacterial FASTA files</span>
  </div>
  <input type="file" class="dir_select" name="bact" required webkitdirectory multiple>
  <br>
  <br>
  <hr>
  <br>
  <a href="javascript:void(0)" name="show_opt" id="t_show_opt" class="more"
    onclick="show_optional('train_opt', id, 't_hide_opt')">
    Show optional arguments
  </a>
  <span id="train_opt", class="opt">
    <h4>Optional arguments</h4>
    <label for="csv">Prophage CSV</label>
    <div class="help"><img src="{{url_for('static', filename='images/help_icon.png')}}"
      alt="help" class="help_icon">
      <span class="help_text">3-column CSV mapping the coordinates of
        any known prophages in the bacterial contigs</span>
    </div>
    <input type="file" name="csv">
    <br>
    <label for="window">Window size</label>
    <input type="text" name="window" value="{{window}}">
    <div class="help"><img src="{{url_for('static', filename='images/help_icon.png')}}"
      alt="help" class="help_icon">
      <span class="help_text">Number of genes to average features over</span>
    </div>
    <br>
    <label for="cpu">CPU cores</label>
    <select class="cores" id="cores", name="cores"></select>
    <div class="help"><img src="{{url_for('static', filename='images/help_icon.png')}}"
      alt="help" class="help_icon">
      <span class="help_text">
        Number of CPU cores to use</span>
    </div>
    <br>
    <br>
    <a href="javascript:void(0)" name="hide_opt" id="t_hide_opt" class="more"
      onclick="show_optional('train_opt','t_show_opt', id)">
      Hide optional arguments
    </a>
  </span>
  <br>
  <br>
  <br>
  <input type="submit" onclick="loading_page()">
{% endblock %}
