{% extends 'base.html' %}

{% block stylelink %}"{{ url_for('static', filename='css/documentation_style.css') }}"{% endblock %}

{% block content %}
<div class="inner">
  <h2>General Information</h2>
  <ul>
    <li>Current version is 1.0.2</li>
    <li>We currently have models available for these bacterial genera:</li>
    <ul>
      <li>
        <a class="ext_links" href="https://osf.io/aw4up/download">
          <i>Mycobacterium</i></a></li>
      <li>
        <a class="ext_links" href="https://osf.io/djwsb/download">
          <i>Gordonia</i></a></li>
      <li>
        <a class="ext_links" href="https://osf.io/5puze/download">
          <i>Pseuodomonas</i></a></li> </ul>
  </ul>
  If you'd like to contact us about expanding this set, or provide feedback,
  please email either <a class="ext_links" href="mailto:chg60@pitt.edu?subject=feedback">chg60@pitt.edu</a>
  or <a class="ext_links" href="mailto:laa89@pitt.edu?subject=feedback">laa89@pitt.edu</a>.
</div>

{% endblock %}
